@include theme-consumer {
  .button-base {
    background-color: blue;
  }
}

@include theme-corporate {
  .button-base {
    background-color: red;
  }
}

.link-list {
  display: flex;

  &--buttons {
    li a {
      @extend .button-base;
      @extend .button-medium;
    }

    li:nth-child(1) a {
      @extend .button-primary;
    }

    li:nth-child(2) a {
      @extend .button-secondary;
    }
  }

  &--buttons-small.link-list--buttons {
    li a {
      @extend .button-small;
    }
  }

  &--buttons-large.link-list--buttons {
    li a {
      @extend .button-large;
    }
  }

  [class*='-inverse'] &--buttons {
    li:nth-child(1) a {
      @extend .button-primary, .button-inverse;
    }

    li:nth-child(2) a {
      @extend .button-secondary, .button-inverse;
    }
  }

  &--space-1 {
    gap: var(--rp-semantic-measures-spacing-004);
  }

  &--space-2 {
    gap: var(--rp-semantic-measures-spacing-008);
  }

  &--space-3 {
    gap: var(--rp-semantic-measures-spacing-016);
  }

  &--space-4 {
    gap: var(--rp-semantic-measures-spacing-024);
  }

  &--column {
    flex-direction: column;
  }

  &--fit-content {
    inline-size: fit-content;
  }

  &--center {
    justify-content: center;
    align-items: center;
  }
}
