@import '../toolbox';

.page-container {
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);

  &--center {
    > * {
      max-width: var(--screen-lg);
      margin-inline: auto;
    }
  }
}
